@import url(https://fonts.googleapis.com/css2?family=Tilt+Warp&family=Lato&display=swap);

:root {
    --primary-color: #4FB477 ;
    --secondary-color: #345511 ;
    --accent1-color: #3F6634 ;
    --accent2-color: #DCFFFD ;
  
    --heading-font: 'Tilt Warp', sans-serif ;
    --paragraph-font: 'Lato', sans-serif ;
  
    --nav-background-color: #3F6634 ;
    --nav-link-color: #4FB477 ;
    --nav-hover-link-color: #121619 ;
    --nav-hover-background-color: #95AFBA ;
}

body {
    max-width: 960px;
    padding: 20px;
}

h3 {
    font-family: var(--heading-font) ;
    color: var(--primary-color) ;
}

h1 {
    position: absolute;
    font-family: var(--heading-font) ;
    color: var(--accent2-color) ;
}

article {
    position: absolute;
}

header {
    padding: 20px;
    background-color: var(--accent1-color) ;
    grid-column: 1/3;
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color) ;
    font-size: 1.2rem;
    display: flex;
    flex: 1 100px;
}

nav a {
    display: block;
    color: var(--nav-link-color) ;
    text-decoration: none; 
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color) ;
    background-color: var(--nav-hover-background-color) ;
}

.herodiv {
	margin: 10px auto;
	position: relative;
}

.herodiv img {
	width: 100%;
	height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h2 {
    font-family: var(--heading-font) ;
    color: var(--accent1-color) ;
}

section {
    display: grid;
    grid-column: 1/6;
}

figure {
    border: thin #fff solid;
    padding: 5px;
    max-width: 200px;
    margin: auto;
    display: flex;
    flex-flow: column;
}

img {
    max-width: 500px;
    max-height: 300px;
    display: flex;
}

figcaption {
    background-color: #fff;
    color: var(--secondary-color);
    font-family: var(--heading-font) ;
    padding: 3px;
    text-align: center;
    
}

footer {
    grid-column: 1/4;
    z-index: 5
}


@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap");

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba (0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba (0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}


table, td {
    border: 1px solid #333;
  	border-collapse: collapse;
    font-family: var(--heading-font) ;
    font-size: 2rem
}

thead, tfoot {
    background-color: #333;
    color: #fff;
}

th, td {
  	padding: 0.5rem;
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
}

caption {
    font-weight: 700;
    font-size: smaller;
    color: darkolivegreen;
    font-variant: small-caps;
}